@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: theme(colors.background);
  --on-background: theme(colors.onBackground);
}


@layer utilities {
  .text-balance {
    text-wrap: balance;

  }
}
